.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  border-right: 1px solid #e0e0e0;
}

.active-link {
  background-color: rgba(63, 81, 181, 0.1); // Primary color with opacity
  color: #3f51b5;
  
  mat-icon {
    color: #3f51b5;
  }
}

mat-sidenav-content {
  background-color: #fafafa;
}
